{% extends 'foto/nav.html' %}
{% load static %}
{% block base %}
      <div class="row p-4">
          <div class="col-md-2 right-border">
              <div>
              {% if user.socialaccount_set.all.0 %}

                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />

              {% else %}
                  <img src="{% static 'images/dog123.jpg' %}" width="200px" />
            {% endif %}
                </div>
            <span class="user_text">
        {% if user.first_name%}
        <p>Привет, {{user.first_name}}.
        {% else%}
        <p>Привет, {{user}}.
        {% endif %}
        {% if user.is_staff %}
                <strong>Вы вошли как администратор.</strong>
        {% endif %}
        Это твой личный кабинет. В этом разделе размещаются твои загруженные фотографии.<br> Здесь ты можешь добавлять или удалять свои фотографии.</p>
    </span>
              <div class="mg-h-10">
               <select name="filtering" id="filtering" onchange="location = finalurl2();" style="margin-left: auto;">
                    <option value="" id="placeholder" disabled selected hidden>Фильтры</option>
                   <option id="no_filter" value="no_filter">Все фото</option>
                    <option id="on_moderation" value="on_moderation">На модерации</option>
                    <option id="on_delete" value="on_delete">На удалении</option>
                    <option id="accepted" value="accepted">Одобренные</option>
                  </select>
          </div>
          </div>

          <div class="col-md-10">
              <h1>{% block h1%}Base H1{% endblock %}</h1>
              <div class="row p-2">


              {% block main_content %}
                {% endblock %}

                <!-- Pagination -->
                  {% if is_paginated %}
                <div class="pagination">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" tabindex="-1">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                      {% endif%}
                      {% for item in paginator.page_range %}
                      {% if item == page_obj.number%}
                        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ item }}">{{ item }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ item }}">{{ item }}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                      {% endif %}
                  </ul>
                </nav>
                    </div>
                {% endif %}
              </div>
          </div>

        </div>
    </div>
{% endblock %}