{% extends 'foto/base.html' %}
{% load static %}
{% block title %} {{foto_id.title}} {% endblock%}
{% block h1%} {{foto_id.title}} {%endblock%}
{% block main_content %}
    <div class="col-md-9">

      <img src="{{ foto_id.images.url }}" class="card-img-top" alt="{{ item.title}}">

      <div class="card-body after-text mg-h-10">
        <h5 class="card-text">Категория: {{ foto_id.category }}</h5>
        <h5 class="card-text">Aвтор: {{ foto_id.user }}</h5>
          <h5 class="card-text">Опубликовано: {{ foto_id.add_data|date:"M d, Y" }}</h5>
      </div>
                  <p class="card-text fs-6 ">{{ foto_id.description }}</p>

        <span class="card-text fs-4">{{ total_voices }}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-heart" viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
      <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
    </svg>
        </span>
          {% if user.is_authenticated %}

          <div class="mg-h-10">
              {% if liked %}
                  <form action="{% url 'foto_like' foto_id.pk %}" method='POST'>
                      {% csrf_token %}
                      <button type="submit" name="foto_id" value="{{ foto_id.pk }}" class="btn btn-warning">Снять голос</button>
                  </form>
              {% else %}
                  <form action="{% url 'foto_like' foto_id.pk %}" method='POST'>
                      {% csrf_token %}
                      <button type="submit" name="foto_id" value="{{ foto_id.pk }}" class="btn btn-success">Проголосовать</button>
                  </form>
              {% endif %}
          </div>
        {% endif %}

    </div>

    <div class="comments">
        <hr>
        {% if not foto_id.comments.all %}
        <h4>Пока нет комментариев...</h4>
        {% else %}
        <h4 class="mg-h-10">Комментарии: {{ foto_id.comments.count }}</h4>
        {% for item in foto_id.comments.all %}
        <h6>{{ item.user }} - {{ item.created|date:'SHORT_DATETIME_FORMAT' }}</h6>
        <p>{{ item.text }} </p>
        {% if item.user == request.user %}
        <a href="{% url 'delete_comment' item.pk %}" > Удалить </a>
        <button id="delete_comment"> Удалить</button>
        <br>
        <a href="{% url 'edit_comment' item.pk %}"> Редактировать </a>
        {% elif item.user != request.user %}
        <a href="{% url 'add_comment_second_level' item.pk %}"> Ответить </a>

        {% endif %}
        <br>
        <div class="secondComments">
        {% for comment in item.secondComment.all %}
            <div class="mg-h-10">
            <h6>{{ comment.user }} - {{ comment.created|date:'SHORT_DATETIME_FORMAT' }}</h6>
                <p>{{ comment }}</p>
            {% if comment.user != request.user %}
            <a href="{% url 'add_comment_second_level' item.pk %}"> Ответить </a>
            {% else %}
            <a href="{% url 'del_comment_second_level' comment.pk %}"> Удалить </a>
            {% endif %}
                </div>
            {% endfor %}

        </div>
        <hr>
    {% endfor %}
        {% endif %}
        <br>
        <!--Add Comment-->
        {% if user.is_authenticated %}
        <a href="#popup_1" >Оставить комментарий</a>

        <!--<a href="{% url 'add_comment' foto_id.pk %}" id="Add_comment">Оставить комментарий</a>-->
        <div class="popup" id="popup_1">
      <a href="#fix" class="popup_area"></a>
      <div class="popup_body">
        <div class="popup_content">
          <a href="#fix" class="popup_close">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
          </a>
            <div class="popup_text">
                <form enctype='multipart/form-data' method="POST">
                {% csrf_token %}
               {% for field in form %}
                <div class="fieldWrapper">
                    {{ error }}
                    <p class="popup_title">{{ field.label_tag }}</p>
                    <p>{{ field }}</p>
                </div>
            {% endfor %}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>

            </div>
            {% endif %}
            </div>
    </div>
</div>
</div>
<div class="fix" id="fix"></div>
{% endblock %}