{% extends 'foto/base.html' %}
{% block title %} Home Page{% endblock%}
{% block main_content %}
{% for item in Fotos %}
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
  <img src="{{ item.images.url }}" class="card-img-top" alt="{{ item.title}}">
  <div class="card-body">
    <h5 class="card-title">{{ item.title }}</h5>
    <!--<p class="card-text">{{ item.description|truncatechars:100 }}</p>-->
    <p class="card-text">{{ item.description|truncatechars:100 }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
{% endfor %}
{% endblock%}