{% extends 'foto/base.html' %}
{% block title %} Home Page{% endblock%}
{% block main_content %}
{% for item in Fotos %}
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">

  <img src="{{ item.images.url }}" class="card-img-top" alt="{{ item.title}}">
      <div class="mask">
        <p class="card-text fs-6 ">{{ item.description|truncatechars:100 }}
      </div>
  <div class="card-body">
    <p class="card-text">Категория: {{ item.category }} </p>
    <h5 class="card-title">{{ item.title }}</h5>

    <p class="card-text">{{ item.voices }} <i class="bi bi-chat-heart-fill"></i> </p>
    <a href="#" class="btn btn-primary">Full size</a>
  </div>
</div>
</div>
{% endfor %}
{% endblock%}